# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log
log*/

# Compiled files
dist/
build/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
*.swn

# macOS system files
.DS_Store

# Temporary files
tmp/
temp/

# Database files
*.sqlite
*.db

# Coverage and testing
coverage/
jest/
